<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_braintree">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".DropInActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
    </application>


</manifest>